/* reset.css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

/* yaytime. */

body {
    background-color:#005CE8;
    color:#FFFFFF;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size:14px;
}
a {
    color:#CCCCFF;
}

#header {
    height:187px;
    margin-top:10px;
    background-image:url(http://cdn.yayquery.com/site/images/header_bar.png);
    background-repeat:repeat-x;
    background-position:50% 67px;
}
*:first-child+html #header { background-position:50% 77px; }
    #header h1 {
	background-image:url(http://cdn.yayquery.com/site/images/top_logo.png);
	background-position:top center;
	background-repeat:no-repeat;
	height:187px;
	width:380px;
	margin:10px auto 0;
	display:block;
	text-indent:-999px; overflow:hidden;
	
	
    }
    #sponsors {
	position:relative;
	font-size:8px;
	line-height:8px;
	width:318px;
	padding-left:540px;
	margin:-54px auto 0;
    }
	.bigamp {
	    font-size:18px;
	    line-height:18px;
	    float:left;
	    display:block;
	    text-align:center;
	    width:20px;
	    padding-top:9px;
	    color:#E5E5E5;
	}
	.spons {
	    float:left;
	    display:block;
	    text-align:right;
	    width:70px;
	    height:8px;
	    padding-top:18px;
	    padding-right:3px;
	}
	#tinycdn {
	    display:block;
	    float:left;
	    width:105px;
	    height:28px;
	    background-image:url(http://cdn.yayquery.com/site/images/tinycdn.png);
	    background-position:top left;
	    background-repeat:no-repeat;
	    line-height:1px;
	    font-size:1px;
	    color:#005CE9;
	    margin-top:6px;
	    text-indent:-10000px;
	}
	#devotee {
	    display:inline-block;
	    float:left;
	    width:119px;
	    height:35px;
	    background-image:url(http://cdn.yayquery.com/site/images/devot-ee.png);
	    background-position:top left;
	    background-repeat:no-repeat;
	    line-height:1px;
	    font-size:1px;
	    color:#005CE9;
	    text-indent:-10000px;
	}
    .videos {
	clear:both;
	width:960px;
	margin:0 auto;
	padding-top:30px;
	list-style:none;
    }
	.videos > li {
	    background-repeat:no-repeat;
	    height:543px;
	    margin:5px 35px;
	}
	.videos li.right {
	    background-image:url(http://cdn.yayquery.com/site/images/video_bg_right.png);
	    background-position:right 46px;
	}
	.videos li.left {
	    background-image:url(http://cdn.yayquery.com/site/images/video_bg_left.png);
	    background-position:left 46px;
	}
	.videos > li.zoomview { 
		height: auto;
		min-height: 543px;
		position:relative;
	}
	.videos > li.zoomview.left { 
		background-position: 685px -196px;
	}
	.videos > li.zoomview.right { 
		background-position: -461px -196px;;
	}
	.videos > li.zoomview .shownotes {
		position:absolute;
		right: 0; top:48px; width:162px; margin-left: 10px;
		
		margin-right:10px;
	}
		.videos > li.right.zoomview .shownotes {
			right: auto; left: 0;
		}
		.videos li.right.zoomview img.cohitre {
			margin-left: 0;
		}
		.videos li.right.zoomview .description { float: right;}
	
	    .epnum {
		font-weight:bold;
	    }
	    
	    
	    .videos li h2 {
	        font-family: 'ChunkFiveRegular', Rockwell, 'Century Schoolbook', Clarendon, 'Courier', serif; font-weight:bold; 
	        line-height:50px;
	        	height:50px;
	        		background-repeat:no-repeat;
		background-position:top left;
				font-size:24px;
				font-weight:normal;
	    }
	    
	    .videos li.right h2 {
		background-image:url(http://cdn.yayquery.com/site/images/title_bg_right.png);
		padding-right:3px;
		text-align:right;
		
	    }
	    .videos li.right video,
	    .videos li.right object,
	    .videos li.right embed,
            .videos li.right .clickvid {
		float:right;
		display:block;
		width:360px;
		height:240px;
		margin-right:4px;
	    }
	    .videos li.right .description {
		width:505px;
		text-align:right;
		margin-top:35px;
		padding-left:10px;
		font-weight:bold;
		height:170px;
		overflow:hidden;
	    }
	
	.videos .shownotes { 
		clear:both;
		width:300px;
		padding-top:5px;
		margin-left:34px;
		margin-right: 25px;
		}
	    .videos li.right .shownotes {
		float:right;
	    }
	    .videos li.right img.cohitre {
		margin-top:16px;
		margin-left:185px;
	    }
	    .videos li.left h2 {
		background-image:url(http://cdn.yayquery.com/site/images/title_bg_left.png);
		padding-left:3px;
		
background-position:top right;
	    }
	    .videos li.left video,
	    .videos li.left object,
	    .videos li.left embed,
            .videos li.left .clickvid {
		float:left;
		display:block;
		width:360px;
		height:240px;
		margin-left:2px;
	    }
	    .videos li.left .description {
		width:505px;
		margin-top:35px;
		padding-left:10px;
		font-weight:bold;
		height:170px;
		overflow:hidden;
		float:left;
	    }
	    .videos li.left .shownotes {
		float:left;
	    }
	    .videos li.left img.cohitre {
		margin-left:25px;
		margin-top:10px;
		float:left;
	    }
	    
	    .videos a:hover { color: #eee;}
	.download {
	    font-size:10px;
	}
	    .showlinks li {
		margin:0;
		margin-left: 15px;
		background:none !important;
		height:auto !important;
		list-style: circle outside;
	    }
        .clickvid {
          cursor:pointer;
        }
#footer {
    background-color:#007CF8;
    color:#CCCCCC;
    font-size:11px;
    left:50%;
    line-height:40px;
    margin:40px auto 40px -285px;
    padding:10px;
    position:absolute;
    text-align:center;
    width:570px;
		clear:both;
}



@font-face {
	font-family: 'ChunkFiveRegular';
	src: url('../fonts/Chunkfive.eot');
	src: local('ChunkFive Regular'), local('ChunkFive'), url('../fonts/Chunkfive.woff') format('woff'), url('../fonts/Chunkfive.otf') format('opentype'), url('../fonts/Chunkfive.svg#ChunkFive') format('svg');
}


section.outbound {
    background: rgba(162,252,240,0.7);    
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    padding: 15px;
    display:block;
    margin: 5px auto;    
    overflow:hidden;
    width:1010px; 
}
.outbound a { display:block; float:left; height: 120px; width: 110px; position:relative; text-decoration:none;}
.outbound img { width: 105px; vertical-align:middle;}
.outbound span {   opacity:0; display:block; position:absolute; bottom: 0px; color: #2a315c; left: 0; font-size: 14px; width: 105px; text-align:center; font-weight:bold; text-shadow: #eee 0px 0px 3px; line-height: 12px;  -webkit-transition: opacity 200ms linear; }
.outbound span small { font-size: 9px; }
.outbound a:hover span { opacity:1; }

.outbound h4 { color: rgba(50,50,50,0.8); font-size: 33px; float:left; font-family: 'ChunkFiveRegular',Rockwell, 'Century Schoolbook', serif; font-weight:bold;  
    -webkit-transform: rotate(-90deg); 
-moz-transform: rotate(-90deg);	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
-o-transform: rotate(-90deg); 
-transform: rotate(-90deg); 
height:128px;


margin:70px -30px -46px 73px;

line-height:30px;

width:31px;
 }
